<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <!-- Title on the left side -->
        <a class="navbar-item" href="/" style="font-family: Permanent Marker; font-size: 2.5em;">
            Local Cheese Farm
        </a>
    </div>

    <div class="navbar-end">
        <!-- Login button on the right side -->
        <div class="navbar-item">
            <div class="buttons">
                <a class="button is-primary">
                    <strong>Login</strong>
                </a>
            </div>
        </div>
    </div>
</nav>