<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
    <!-- Include Bulma CSS framework from CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Autour+One&family=Permanent+Marker&display=swap" rel="stylesheet">
    <style>
        .form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body>
{% include 'header.html' %}
{% block content %}{% endblock %}

</body>
</html>